
# Ignore Python virtual environments
backend/venv/

# Ignore Node modules
frontend/node_modules/

# Ignore environment files
*.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VSCode settings
.vscode/
